<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body style="background-image: url(https://static.vecteezy.com/system/resources/previews/000/122/923/original/jungle-landscape-with-liana-hanging-vector.jpg); background-repeat: no-repeat; background-size: cover;">
  <hr>
  <div class="container" style="background-image:url(https://thumbs.dreamstime.com/b/papel-viejo-del-grunge-para-el-mapa-o-el-vintage-del-tesoro-45116915.jpg);">
    <h1 class="text-center display-1" style="color:darkgreen; font-family: Arial, Helvetica, sans-serif;">Zoologico</h1>
    <a href="/login" class="btn btn-link" role="button"><h2 class="font-weight-bold">Iniciar Sesion</h2></a>
    <hr>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active h2" href="/"><p class="font-weight-bold" style="color:darkgreen;">Inicio</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link h2" href="/animales"><p class="font-weight-bold" style="color:darkgreen;">Animales</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link h2" href="/horario"><p class="font-weight-bold" style="color:darkgreen;">Horarios</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link h2" href="/contacto"><p class="font-weight-bold" style="color:darkgreen;">Contactos</p></a>
      </li>
    </ul>
    <hr>
    <table class="table table-bordered" style="background-color:white;">
        <thead>
          <tr>
            <th class="text-center">Tipo de Información</th>
            <th class="text-center">Información</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">Horarios Normales</td>
            <td class="text-center">De lunes a viernes desde las tanto hasta las tanto</td>
          </tr>
          <tr>
            <td class="text-center">Horarios Especiales</td>
            <td class="text-center">Sabado domingo y festivos desde las tanto hasta las tanto</td>
          </tr>
        </tbody>
      </table>
      <hr>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="http://localhost:3000"> localhost:3000</a>
        </div>
    </footer>
    <hr>
  </div> 
</body>
</html>